:root {
    --dark: rgb(162, 153, 155);
    --font-info: #0b0a0a;  
    --font-hover: rgb(145, 1, 49);



}

html {
    font-size: 10px;
}


body {
    margin: 5;
    background-color: var(--dark);
}

/* nav styles */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin: 2rem;
}

.nav-link a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--font-info);
}

.nav-link a:hover {
    color: var(--font-hover)

}

@media screen and (max-width: 596px) {
    .nav-container, .nav-links {
        flex-direction: column;
        align-items: center;
    }
    
}

