:root {
  --dark: rgb(184, 99, 2);
  --head: rgb(251, 251, 251);
  --font-info: black;
  --font-hover: rgb(255, 136, 0);
}

html {
  scroll-behavior: smooth;
}

/* background image */

.main {
  height: 100vh;
  width: 100%;
  background-image: url(../coder.jpg);
  background-size: cover;
  background-position: center;
}

/* links at the top */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 6%;
  padding-right: 8%;
}

/* portfolio logo */ 

.logo {
  color: rgb(241, 101, 7);
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--head);
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: var(--head);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
    color: var(--font-hover);
    transition: 0.4s;
  }

.btn {
    background-color: var(--head);
    color: rgb(241, 87, 10);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: tranform 0.4s;
  }

.btn:hover {
    transform: scale(2);
  }

.content {
  position: absolute;
  top: 80%;
  left: 3%;
  transform: translateY(-50%);
}

/* hi my name is Amina. I am an aspiring Software Developer */ 

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 50px;
}

h3 {
  color: rgb(241, 101, 7);
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: rgb(241, 101, 7);
  letter-spacing: 2px;
  font-size: 25px;
}

.about {
  width: 100%;
  padding: 30px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.mains {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: azure;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text p {
  color: var(--font-hover);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.work {
  background-color: black;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: azure;
  font-size: 45px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

/* web development bit */

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.card {
    height: 365px;
    width: 335px;
    pad: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px; 
    position: relative;
    overflow: hidden;
    text-align: center;
  }

h5 {
  color: var(--font-hover);
  font-size: 20px;
  margin-bottom: 15px;
}

.pra p {
    color: var(--dark);
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
  }

#contact {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: rgb(241, 87, 10);
 
}

.contact-content {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 5px 0px;
  }

.input {
    padding: 15px;
    margin: 0px 15px 15px 0px;
    width: 100%;
    border: none;
    outline: none;
  }

/*social section*/
#socials {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250%;
  border: 5px solid rgb(245, 90, 0);
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgb(245, 90, 0) 50%,
    rgb(7, 7, 7) 50%
  );
  background-size: 100% 200%;
  transition: all 0.8s;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(204, 108, 52);
  }
  
.box img {
  width: 200px;
  height: 200px;
  background-color: rgb(237, 108, 28);
  padding: 8px;

}

.contact-content .button-two {
    background-color: var(--head);
    color: rgb(241, 87, 10);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.4s;
  }

.contact-me .button-two:hover {
    background-color: yellow;
    border: 2px solid red;
    cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin: 50px;
    font-weight: bold;
  }

  footer p:nth-child(2) {
    color: white;
    font-size: 90px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }
  

@media screen and (max-width: 596) {
.nav, .box, .contact-me, .contact, .form, .row, .box:hover{
    flex-direction: column;
    align-items: center;
}
}
/* WHITE BACOGROUND BOX FOR PROJECTS SECTION */

.box-1 {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 250%;
    border: 5px solid rgb(245, 90, 0);
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(
      to top,
      rgb(245, 90, 0) 50%,
      rgb(250, 250, 250) 50%
    );
    background-size: 100% 200%;
    transition: all 0.8s;
  }
  
.box-1:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(204, 108, 52);
  }
  
.box-1 img {
    width: 200px;
    height: 200px;
    background-color: rgb(237, 108, 28);
    padding: 5px;
  
  }

  /* -----links--------------- */
  
  @media screen and (max-width: 992px) {
      header {
          background: red;
      }
  }

  @media screen and (max-width: 768px) {
    nav {
        background: rgb(10, 205, 72);
    }
}
@media screen and (max-width: 576px) {
    .img {
        background: rgb(41, 24, 136);
    }
}



  