:root {
    --dark: rgb(184, 99, 2);;
    --head: rgb(251, 251, 251);
    --font-info: black;
    --font-hover: rgb(255, 136, 0);

}


.main {
    height: 100vh;
    width: 100%;
    background-image: url(../coder.jpg);
    background-size: cover;
    background-position: center;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-left: 6%;
    padding-right: 8%;
}

.logo {
    color: rgb(241, 101, 7);
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: var(--head)
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px   25px;
}

nav ul li a {
    color: var(--head);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: var(--font-hover)

}